.main-container {
    /*Main div on center*/
    position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    /*Framwork settings*/
    border: 1px solid darkblue;
    /*Rounded corners*/
    border-radius: 20px;
}

/*The map style-height,rounded corners, space*/
#map {
    height: 74%;
    margin-bottom: 1%;
}

#flight-details {
    height: 25%;
    background-color: rgba(110, 214, 141, 0.726);
}

#Myflights {
    height: 50%;
    width: 100%;
    background-color: rgb(179, 251, 240);
}

#Externalflights{
    height: 50%;
    width: 100%;
    background-color: rgb(249, 197, 244);
}

@media (min-width: 0px) {
    .container{
        width: 900px;
    }
}

.table-condensed {
    font-size: 14px;
}
